/* Body */
body {
    background-color: white;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: scroll;
    /* font-family: ; */
    font-size: medium;
}



/* Nav-Bar */
.navbar {
    height: 10vh;
}



/* Side-Bar */
@media only screen and (min-width: 576px) {
    
    body {
        display: grid;
        grid-template-rows: 10vh 90vh;
        grid-template-columns: repeat(5,auto);
    }

    #HeadNavbar{
        grid-column: 1/6;
        margin: 0;
        padding: 0;
    }

    header {
        grid-column: 1/2;
    }

    main {
        grid-column: 2/6;
        width: 100%;
    }

    button.navbar-toggler {
        display: none;
    }
    
    div.sidebar {
        width: 60%;
        background-color: white;
        padding: 0 10px;
        margin-left: 150px;
        margin-top: 10%;
        border-right: 1px solid #e1e4e8;
    }

    #sidebar1 {
        margin-left: 5%;
    }

    ul.navbar-nav li {
        border-bottom: 1px solid #e1e4e8; 
        padding: 20px 0 10px 0; 
        width: 200px;
    }
    
    ul.navbar-nav li:last-child {
        border-bottom: none;
    }

}

@media only screen and (max-width: 576px) {
    
    div.heading {
        text-align: center;
    }

}

.navbar-collapse li a {
    color: #000;
}

.sidebar {
    padding: 0 10px;
    margin-left: auto;
    margin-top: 15%;
}

ul.navbar-nav li {
    border-bottom: 1px solid #e1e4e8; 
    width: 70%;
    margin-left: 5%;
}

ul.navbar-nav li:hover {
    font-weight: bold;
    color: black;
}

ul.navbar-nav li:visited {
    color: #000;
}

ul.navbar-nav .item5 {
    font-weight: bolder;
}


