<!--bottom navbar start-->
<nav class="navbar navbar-expand-lg bg-bot">
    <div class="container-fluid">
    
      <div class="nav-bot collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav">
          
          <li class="nav-item-bot">
            <a class="nav-link active" aria-current="page" href="#Flash sale"><p>Promotion</p></a>
          </li>
          <li class="nav-item-bot">
            <a class="nav-link active" aria-current="page" href="#Best seller"><p>Best seller</p></a>
          </li>
          <li class="nav-item-bot">
            <a class="nav-link active" aria-current="page" href="#New Release"><p>New Release</p></a>
          </li>
          <li class="nav-item-bot">
            <a class="nav-link active" aria-current="page" href="#Highlight"><p>Highlight</p></a>
          </li>
          <li class="nav-item-bot">
            <a class="nav-link active" aria-current="page" href="#Coming Soon"><p>Coming Soon</p></a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <!--bottom navbar end-->