<%- include('../../templates/head') %>

<body>
    <div class="container">
        <h1><%=name%> Category</h1>
        <div class="context-box">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="box1">Add Image</div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="box2">
                        <div for="regular-price">Category Name:</div>
                        <input type="string" id="boxs2" ><br>
                        <div for="sale-price">Category ID:</div>
                        <input id="boxs2" ><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="confirm-button">Confirm</button>

<%- include('../../templates/footer') %>