/* Body */
body {
    background-color: white;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: scroll;
    /* font-family: ; */
    font-size: medium;
}



/* Nav-Bar */
.navbar {
    height: 10vh;
}



/* Side-Bar */
@media only screen and (min-width: 576px) {
    
    body {
        display: grid;
        grid-template-rows: 10vh 90vh;
        grid-template-columns: repeat(5,auto);
    }

    #HeadNavbar{
        grid-column: 1/6;
        margin: 0;
        padding: 0;
    }

    header {
        grid-column: 1/2;
    }

    main {
        grid-column: 2/6;
        width: 100%;
    }

    button.navbar-toggler {
        display: none;
    }
    
    div.sidebar {
        width: 60%;
        background-color: white;
        padding: 0 10px;
        margin-left: 150px;
        margin-top: 10%;
        border-right: 1px solid #e1e4e8;
    }

    #sidebar1 {
        margin-left: 5%;
    }

    ul.navbar-nav li {
        border-bottom: 1px solid #e1e4e8; 
        padding: 20px 0 10px 0; 
        width: 200px;
    }
    
    ul.navbar-nav li:last-child {
        border-bottom: none;
    }

    /* content */
    .account-menu button {
        width: 20% !important;
    }
    /* content */

}

@media only screen and (max-width: 576px) {
    
    div.heading {
        text-align: center;
    }

}

.navbar-collapse li a {
    color: #000;
}

.sidebar {
    padding: 0 10px;
    margin-left: auto;
    margin-top: 15%;
}

ul.navbar-nav li {
    border-bottom: 1px solid #e1e4e8; 
    width: 70%;
    margin-left: 5%;
}

ul.navbar-nav li:hover {
    font-weight: bold;
    color: black;
}

ul.navbar-nav li:visited {
    color: #000;
}

ul.navbar-nav .item1 {
    font-weight: bolder;
}



/* Content */
@media only screen and (min-width: 426px) and (max-width: 768px) {

    .account-menu button {
        width:35% !important;
    }

}

.content-header {
    text-align: center;
    margin: 0 10%;
    padding-top: 6%;
    font-size: 1rem;
}

.info-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.account-menu {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e1e4e8;
    padding: 10px; 
    margin: 0 10%;
    font-size: 1em;
}

.account-menu .img {
    flex-wrap: wrap;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: lightgrey;
    border-radius: 100%;
    text-align: center;
}

.account-menu img {
    width: 50px;
    height: 50px;
    padding-top: 7px;

}

.account-menu:first-child h2{
    margin-top: 0;
}

.account-menu button {
    margin-top: 2%;
    width: 30%;
    height: 35px;
    border: none;
}
.account-menu button:hover {
    background-color: aqua;
    color: white;
}